.body {
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: var(--color-6);
}

.card {
 padding: 2em;
 width: var(--mobile-width);
 background-color: var(--color-5);
 border-radius: 1em;
 display: flex;
 flex-direction: column;
}

.form {
 display: flex;
 flex-direction: column;
}

.estrellitaBox {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 2.5em;
 height: 2.5em;
 border: none;
 border-radius: 50%;
 background-color: var(--color-4);
}

.title {
 color: var(--color-2);
 font-size: 1.7em;
 margin-bottom: 0;
}


.btn-group {
 display: flex;
 justify-content: space-between;
 padding: 0.8em;
}

input {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 3em;
 height: 3em;
 border: none;
 border-radius: 50%;
 background-color: var(--color-4);
}

#star-1 {
 color: var(--color-3);
}

#star-2 {
 color: var(--color-3);
}

#star-3 {
 color: var(--color-3);
}

#star-4 {
 color: var(--color-3);
}

#star-5 {
 color: var(--color-3);
}

.none {
 display: none;
}

.btn {
 background-color: var(--color-1);
 color: var(--color-2);
 border: none;
 border-radius: 2em;
 margin-top: 1em;
 text-transform: uppercase;
 letter-spacing: 0.2em;
 height: 3em;
}

.greetings {
align-items: center;
}

.thanks {
  text-align: center;
 }

.your-vote {
 color: var(--color-1);
 background-color: var(--color-4);
 border-radius: 2em;
 width: 60%;
 height: 2em;
 display: flex;
 text-align: center;
 justify-content: center;
 align-items: center;
 margin-top: 2em;
}
